# Server Configuration
PORT=5013
NODE_ENV=development

# Email Configuration (Gmail SMTP)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=sundaramluxurycraft@gmail.com
EMAIL_PASS=yiiz zvsg genw clmn


# Database Credentials
DB_PASSWORD=eiGjiQ8fnZDLU2iU
DB_USERNAME=shivamnextgen1_db_user
DB_NAME=sundaram_luxury_craft

# Company Email
COMPANY_EMAIL=sundaramluxurycraft@gmail.com

# CORS Configuration
FRONTEND_URL=http://localhost:8080


# ===================== Indigo Auth/Admin =====================
JWT_SECRET=sundaram_luxury_craft
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=your_admin_password

# Optional (production only)
# SENTRY_DSN=
